body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #F5E6CA;
  display: flex;
  flex-flow: column;
  color: #343F56;
  margin-top: 21%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background: #FB9300;
    color: #343F56;
    text-align: center;
}

header img {
  height: 100%;
}

.title-bloc > p {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

nav {
  margin-right: 2%;
  text-align: right;
  font-weight: bold;
  font-size: large;
}

nav li {
  list-style: none;
  margin-bottom: 15%;
}

nav a:link {
  color: #343F56;
  text-decoration: none;
}

nav a:visited {
  color: #4d7380;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #F5E6CA;
}

h1 {
  font-size: 300%;
  font-weight: lighter;
  margin-top: 4%;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px pink;
}

h2 {
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px 2px pink;
}

.movies-lists {
  display: flex;
  flex-flow: column;
}

.h2-list {
  background-color: #FB9300;
  width: 120%;
  margin-left: -10%;
  margin-top: 4%;
  margin-bottom: 2%;
}

/* BEST MOVIE SECTION */
.best-movie-section {
  margin: auto;
}

/* MOVIES LIST */
.section-list > div {
  margin: auto;
}
section > section
{
    display: flex;
    flex-wrap:wrap;
}

.arrow {
  max-width: 18px;
  padding: 1px;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #343F56;
  color: #FB9300;
  border-radius: 2px;
}

/* Organize movie covers and add a small margin */
.other-movies > section > div > p {
  max-width: 182px;
  margin: 1px;
}

/* The Error header */
.if-error {
  display: none;
  width: 110%;
  margin-left: -5%;
  padding: 1%;
  height: 15%;
  background-color: #ff3333;
  color: #F5E6CA;
  text-align: center;
}

/* The Modal (background) */
.modal {
 display: none;
 position: fixed;
 z-index: 1; /
 width: 50%;
 height: 75%;
 max-width: 50%;
 overflow: scroll;
 margin: -10% auto;
 background-color: white;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-flow: row;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  margin: 15% auto;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.mod-title {
  font-style: italic;
  width: auto;
}

#mod-data {
  display: flex;
  flex-flow: row;
}

#mod-data > p {
  text-align: justify;
  max-width: 45%;
  margin: 5%;
}


/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Format the best movie panel */
#title-top {
  width: 50%;
}

#top-movie {
  width: 60%;
  display: flex;
}

#top-movie > div {
  display: flex;
  flex-flow: column;
  max-width: 25%;
}

#top-movie > div > p {
  text-align:center;
  margin-right: 2%;
}

#top-movie > div > h3 {
  text-align: center;
  font-style: italic;
}
