body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #F7F7F7;
  display: flex;
  flex-flow: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background: #FF7800;
    color: #F7F7F7;
    text-align: center;
}

header img {
  height: 100%;
}

.title-bloc > p {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

nav {
  margin-right: 2%;
  text-align: right;
  font-weight: bold;
  font-size: large;
}

nav li {
  list-style: none;
  margin-bottom: 15%;
}

nav a:link {
  color: #FFE300;
  text-decoration: none;
}

nav a:visited {
  color: #FFBC97;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #F7F7F7;
}

h1 {
  font-size: 300%;
  font-weight: lighter;
  color: #FFE300;
  margin-bottom: 0;
}

h2 {
  font-weight: lighter;
  left:0%;
  margin-left: -10%;
  width: 100%;
  line-height: 150%;
  background: rgb(254,205,98);
  background: linear-gradient(150deg, rgba(254,205,98,1) 18%,
                              rgba(255,243,125,1) 73%,
                              rgba(252,178,27,1) 100%);
  text-align: center;
}

section > section
{
    display: flex;
    flex-wrap:wrap;
}

.other-movies > section > div {
  display: flex;
  flex-flow: row;
}

.arrow {
  max-width: 18px;
  text-align: center;
}

/* Organize movie covers and add a small margin */
.other-movies > section > div > p {
  max-width: 182px;
  margin: 1px;
}

/* The Error header */
.if-error {
 display: none;
 width: 100%;
 height: 10%;
 background-color: #ff3333;
 color: white;
 text-align: center;
}

/* The Modal (background) */
.modal {
 display: none;
 position: fixed;
 z-index: 1; /
 width: 50%;
 height: 75%;
 max-width: 50%;
 overflow: scroll;
 margin: -10% auto;
 background-color: white;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-flow: row;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  margin: 15% auto;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.mod-title {
  font-style: italic;
  width: auto;
}

#mod-data {
  display: flex;
  flex-flow: row;
}

#mod-data > p {
  text-align: justify;
  max-width: 45%;
  margin: 5%;
}


/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Format the best movie panel */
#title-top {
  width: 50%;
}

#top-movie {
  width: 60%;
  display: flex;
}

#top-movie > div {
  display: flex;
  flex-flow: column;
  max-width: 25%;
}

#top-movie > div > p {
  text-align:center;
  margin-right: 2%;
}

#top-movie > div > h3 {
  text-align: center;
  font-style: italic;
}
