body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: rgba(254,233,182,1) 100%;
  margin-top: 13%;
  display: flex;
  flex-flow: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 0;
    width: 100%;
    height: 20%;
    background: rgb(226,212,3);
    background: linear-gradient(90deg, rgba(226,212,3,1) 0%,
                                rgba(255,166,20,1) 18%,
                                rgba(240,229,67,1) 49%,
                                rgba(252,219,138,1) 100%);
    display: flex;
}

header > figure > img {
  height: 100%;
}

.logo  {
  height: 80%;
  position: relative;
  left: 0%
}

h1, p {
  text-align: center;
  height: 20%;
}

.slogan {
  font-style: italic;
}

h2 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-style: italic;
  left:0%;
  margin-left: -10%;
  width: 100%;
  line-height: 150%;
  background: rgb(254,205,98);
  background: linear-gradient(150deg, rgba(254,205,98,1) 18%,
                              rgba(255,243,125,1) 73%,
                              rgba(252,178,27,1) 100%);
  text-align: center;
}

section > section
{
    display: flex;
    flex-wrap:wrap;
}

.other-movies > section > div {
  display: flex;
  flex-flow: row;
}

.arrow {
  max-width: 18px;
  text-align: center;
}

/* Organize movie covers and add a small margin */
.other-movies > section > div > p {
  max-width: 182px;
  margin: 1px;
}

/* The Error header */
.if-error {
 display: none;
 width: 100%;
 height: 10%;
 background-color: #ff3333;
 color: white;
 text-align: center;
}

/* The Modal (background) */
.modal {
 display: none;
 position: fixed;
 z-index: 1; /
 width: 50%;
 height: 75%;
 max-width: 50%;
 overflow: scroll;
 margin: -10% auto;
 background-color: white;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-flow: row;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  margin: 15% auto;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.mod-title {
  font-style: italic;
  width: auto;
}

#mod-data {
  display: flex;
  flex-flow: row;
}

#mod-data > p {
  text-align: justify;
  max-width: 45%;
  margin: 5%;
}


/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Format the best movie panel */
#title-top {
  width: 50%;
}

#top-movie {
  width: 60%;
  display: flex;
}

#top-movie > div {
  display: flex;
  flex-flow: column;
  max-width: 25%;
}

#top-movie > div > p {
  text-align:center;
  margin-right: 2%;
}

#top-movie > div > h3 {
  text-align: center;
  font-style: italic;
}
