body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #f5f2ca;
  display: flex;
  flex-flow: column;
  color: #343F56;
  margin-top: 21%;
}

h1 {
  font-size: 300%;
  font-weight: lighter;
  margin-top: 4%;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px pink;
}

h2 {
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px 2px pink;
}

/* Header and specific header component */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background: #FB9300;
  background: linear-gradient(90deg, rgba(226,212,3,1) 0%,
                              rgba(255,166,20,1) 18%,
                              rgba(240,229,67,1) 49%,
                              rgba(252,219,138,1) 100%);
  color: #343F56;
  text-align: center;
  overflow: auto;
}

header img {
  height: 100%;
}

.title-bloc > p {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

nav {
  margin-right: 2%;
  text-align: right;
  font-weight: bold;
  font-size: large;
}

nav li {
  list-style: none;
  margin-bottom: 15%;
}

nav a:link {
  color: #343F56;
  text-decoration: none;
}

nav a:visited {
  color: #4d7380;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #F5E6CA;
}

/* Best movie section */
.best-movie-section {
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 100%;
}

#title-best {
  color: #F54748;
  text-shadow: 1px 1px 2px #FB9300;
  font-size: xx-large;
}

#best-desc {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;

}

#best-desc h3 {
  color: #F54748;
  text-shadow: 1px 1px 2px #FB9300;
  font-size: large;
  text-transform: uppercase;
}

#best-desc > div {
  display: flex;
  flex-flow: column;
  max-width: 50%;
}

#best-desc > div > p {
  text-align:center;
  margin-right: 2%;
}

#best-desc > div > h3 {
  text-align: center;
  font-style: italic;
}

/* Movie lists section */
.movies-lists {
  display: flex;
  flex-flow: column;
}

.h2-list {
  background: #FB9300;
  background: linear-gradient(90deg, rgba(226,212,3,1) 0%,
                              rgba(255,166,20,1) 18%,
                              rgba(240,229,67,1) 49%,
                              rgba(252,219,138,1) 100%);
  width: available;
  margin-left: -1%;
  margin-top: 4%;
  margin-bottom: 2%;
}

.section-list {/* Formats the movie lists, including navigation buttons */
  display: flex;
  flex-flow: row;
}

.section-list > div {/* Formats the movie lists in themselves */
  margin: auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section-list p {
  max-width: 182px;
  margin: 5px;
}

.arrow {
  display: none;
  width: 25px;
  padding: 2px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #F54748;
  color: #fcdb1b;
  border: none;
  border-radius: 15px;
}

.arrow:hover {
  background-color: #343F56;
  color: #F54748;
}

.arrow:active {
  background-color: #4d7380;
  color: #F54748;
}

/* Error warning */
.if-error {
  display: none;
  width: 110%;
  margin-left: -5%;
  padding: 1%;
  height: 15%;
  background-color: #ff3333;
  color: #F5E6CA;
  text-align: center;
}

/* The Modal */
.modal {
  position: absolute;
  z-index: 1;
  display: none;
  justify-content: center;
  align-content: center;
  margin: -15% 25% 0 25%;
  width: 50%;
  height: 75%;
  overflow: scroll;
  background-color: #F5E6CA;
}

.mod-title {
  font-style: italic;
  color: #F54748;
  width: auto;
  background: #FB9300;
  background: linear-gradient(90deg, rgba(226,212,3,1) 0%,
                              rgba(255,166,20,1) 18%,
                              rgba(240,229,67,1) 49%,
                              rgba(252,219,138,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 5%;
  padding-right: 10%;
}

.modal-content {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: space-around;
  background-color: #F5E6CA;
  padding: 20px;
  border: 1px solid #888;
  margin: 15% auto;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#mod-data {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  font-size: small;
}

#mod-data > p {
  text-align: justify;
  max-width: 45%;
  margin: 5%;
}

.close {
  color: #F54748;
  font-size: xx-large;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #343F56;
  text-decoration: none;
  cursor: pointer;
}

/* Moral Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Categories page */
.categories {
  display: flex;
  flex-flow: column;
}

.categories h2 {
  text-transform: uppercase;
}

.categories p {
  text-align: center;
}

.categories img {
  max-width: 100%;
}
